* {
  margin: 0;
  padding: 0;
}

body {
  background: url(../images/book3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

header {
  width: 100vw;
  height: 60px;
  display: flex;
  background: linear-gradient(to right, rgb(248, 248, 249), rgb(226, 247, 251));
  justify-content: end;
}

header li {
  list-style: none;
  margin: 25px;
}

header li a {
  text-decoration: none;
  padding: 5px 20px;
  background: rgb(89, 194, 250);
  border-radius: 15px;
  color: black;
  font-size: 20px;
}
.content {
  width: 40vw;
  height: 90vh;
  border-radius: 10px;
  margin-top: 2.5vh;
  margin-left: 5vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.background {
  width: auto;
  min-width: 561px;
  height: auto;
  min-height: 399px;
  border-radius: 10px;
  margin-top: 2.5vh;
  margin-left: 5vw;
  position: absolute;
  box-shadow: 5px 5px 10px 0px black, -5px -5px 10px 0px black;
  background: rgb(153, 239, 198);
  opacity: 0.3;
  z-index: -1;
}

.content h2 {
  font-size: 30px;
  margin-top: 35px;
}
table {
  margin-top: 30px;
  margin-left: 10px;
  width: 39.9vw;
  border-spacing: 0px 20px;
}

table tbody tr td {
  font-size: 20px;
  background: rgba(0, 0, 0, 0.461);
  height: 55px;
  color: #fff;
}
table tbody tr {
  border-radius: 20px;
}
table tbody tr td input,
select {
  height: 28px;
}
select {
  border-radius: 10px;
}
.name {
  width: 200px;
  border-radius: 10px;
}
.age {
  border-radius: 10px;
  width: 70px;
}
form {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.btn {
  width: 200px;
  height: 30px;
  font-size: 20px;
  background: rgb(240, 96, 13);
  border: none;
  border-radius: 10px;
  color: #fff;
}

.blur {
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.196);
  position: absolute;
  z-index: -2;
}
